body{
    width: 100%;
    font-family: Ubuntu,sans-serif;
    background: #fff;
    color: #4E5E6A;
}
.notice{
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    background-color: #ccc;
    color: #999;
    margin-bottom: 10px;
}
.notice strong{
    color: #e64340;
}
.pay-cnt{
    position: relative;
}
.pay-money{
    width: 20%;
    position: absolute;
    top: 50%;
    margin-top: -100px;
    margin-left: 350px;
    font-size: 40px;
    background: #eee;
    text-align: center;
}
.pay-money em{
    display: block;
    font-style: normal;
    color: #e64340;
    font-weight: bold;
}