<nav id="sidebar" class="behavior_1">
    <div class="wrap">
        <div class="profile">
            <a href="/">Wenda</a>
        </div>
        <ul class="buttons">
            <li><a class="fa fa-book" href="/blog"><span>Blog</span></a></li>
            <li><a class="fa fa-birthday-cake" href="/life"><span>Life</span></a></li>
            <li><a class="fa fa-calendar" href="/project"><span>Project</span></a></li>
            <li><a class="fa fa-tags" href="/tags"><span>Tags</span></a></li>
        </ul>
        <ul class="buttons">
            <li>
                {% if site.weibo_username %}
                <a href="http://weibo.com/{{ site.weibo_username }}" target="_blank" class="inline fa fa-2x fa-weibo" title="weibo"></a>
                {% endif %} {% if site.github_username %}
                <a href="https://github.com/{{ site.github_username }}" target="_blank" class="inline fa fa-2x fa-github" title="github"></a>
                {% endif %} {% if site.facebook_username %}
                <a href="https://www.facebook.com/{{ site.facebook_username }}" class="inline fa fa-2x fa-facebook" title="facebook"></a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
<div id="header">
    <div class="btn-bar"><i></i></div>
    <h1><a href="/">Wenda's Blog</a></h1>
</div>
<div id="sidebar-mask"></div>

<style>
.calculator-icon{
    position: fixed;
    top: 50%;
    right: 0;
    color: #fff;
    z-index: 2;
    margin-top: -55px;
    width: 40px;
    height: 110px;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #FA0;
    overflow: hidden;
    font-size: 14px;
}
.calculator-icon em {
    width: 20px;
    height: 24px;
    display: block;
    margin: 5px auto 0;
    background: url(http://staticweb.joyowo.com/modules/website/images/contact/4.0.0/contact.png) no-repeat;
    background-position: -25px 0;
}
.calculator-icon span{
    width: 20px;
    display: block;
    text-align: center;
    margin: 0 auto;
    line-height: 15px;
}
</style>
<div class="icon calculator-icon js-calculator"><em></em><span>社保计算器</span></div>
<link rel="stylesheet" href="http://teststaticweb.joyomm.com/modules/openapi/dist/js/calculator/calculator.css">
<script src="http://teststaticweb.joyomm.com/modules/openapi/dist/js/calculator/calculator.js"></script>