---
layout: default
---

<!-- <link rel="stylesheet" href="/js/prettify/prettify.css" /> -->
<style type="text/css">
    body { background:#e8e8e8; }
    @media screen and (max-width: 750px){
        body { background:#fff; }
    }
    @media screen and (max-width: 1020px){
        body { background:#fff; }
    }
    #sidebar{
        display: none;
    }
    .js-particles{
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
</style>
<div class="progress-wrapper">
    <div class="progress-label">89%</div>
    <progress value="4175" max="4278"></progress>
</div>

<div id="content">

    <div class="fixed-nav" style="display: none;">
        <ul class="artical-cate">
            <li class="on"><a href="/blog" title="blog"><span class="description">Blog</span></a></li>
            <li><a href="/life" title="life"><span class="description">Life</span></a></li>
            <li><a href="/project" title="project"><span class="description">Project</span></a></li>
            <li><a href="/tags" title="tags"><span class="description">Tags</span></a></li>
        </ul>
        <div class="cate-bar"><span id="cateBar"></span></div>
    </div>

    <div class="entry">
        <h1 class="entry-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
        <p class="entry-date">发表于 {{ page.date|date:"%Y-%m-%d" }}</p>
        {{ content }}
    </div>

    <div class="sidenav aboutme">
        <div class="heart"></div>
        <img class="head-img" src="/images/icon/head.png">
        <ul class="some-info">
            <li>姓名：<em>文达</em></li>
            <li>简介：在成为前端菜鸟的路上奔跑！</li>
        </ul>
    </div>

    <div class="sidenav">
        <h2><a href="/blog">Blog</a></h2>
        <ul class="artical-list">
        {% for post in site.categories.blog limit:5 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>

        <h2><a href="/life">life</a></h2>
        <ul class="artical-list">
        {% for post in site.categories.life limit:5 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>

        <h2><a href="/project">Project</a></h2>
        <ul class="artical-list">
        {% for post in site.categories.project limit:5 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
    </div>

    <!-- Friends Blog -->
    <div class="sidenav friends">
        {% if site.friends %}
        <h5>FRIENDS</h5>
        <ul class="list-inline">
            {% for friend in site.friends %}
                <li><a href="{{friend.href}}" target="_blank">{{friend.title}}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div id="J_gotoTop"></div>

</div>

<canvas class="js-particles" id="js-particles"></canvas>