html,
body {
  height: 100%;
  overflow: hidden;
}
@font-face {
  font-family: "helve";
  src: url("../fonts/helve.otf");
  font-weight: normal;
  font-style: normal;
}
.page-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #15191f url("../../images/marry/loading.gif") center no-repeat;
}
.share-pic {
  position: absolute;
  left: -2000px;
  top: -2000px;
}
.first-message {
  position: relative;
}
.first-message p {
  position: absolute;
  left: 12%;
  top: 37%;
  width: 80%;
  line-height: 1.8;
  color: #fff;
}
.wx-star {
  display: block;
  width: 0.10666667rem;
  height: 0.10666667rem;
  background: #fff;
  box-shadow: 0 0 0.10666667rem #fff;
  border-radius: 0.05333333rem;
  -webkit-border-radius: 0.05333333rem;
  -moz-border-radius: 0.05333333rem;
  position: absolute;
  opacity: 1;
}
.wx-star1 {
  left: 6.93333333rem;
  top: 2.50666667rem;
  z-index: 1;
}
.wx-star2 {
  left: 8.4rem;
  top: 5.6rem;
  z-index: 1;
}
.wx-star3 {
  left: 2.73333333rem;
  top: 8.6rem;
  z-index: 1;
}
.wx-emj {
  width: 0.53333333rem;
  height: 0.53333333rem;
  background-size: auto 100%;
  display: inline-block;
  margin: 0 0.06666667rem;
  position: relative;
  top: 0.06666667rem;
}
.emj-crazy {
  background-image: url("../../images/marry/18.gif");
}
.emj-noword {
  background-image: url("../../images/marry/1.gif");
}
.emj-cry {
  background-image: url("../../images/marry/113.gif");
}
.page-main {
  min-width: 320px;
  margin: 0 auto;
}
.page-main img {
  display: block;
  width: 100%;
}
.page-main .page-fix {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
}
.page-main .page-chat {
  overflow-y: auto;
  overflow-x: hidden;
  background: #ebebeb;
  -webkit-overflow-scrolling: touch;
}
.page-main .page-chat .chat-wrapper {
  padding: 0.4rem 0.4rem;
}
.page-main .page-chat .chat-wrapper .chat-list {
  height: auto;
  overflow: hidden;
  padding-bottom: 1.34666667rem;
}
.page-main .page-chat .chat-wrapper .chat-list .chat-item {
  height: auto;
  margin-bottom: 0.4rem;
  overflow: hidden;
}
.page-main .page-chat .chat-wrapper .chat-list .chat-item .head-img {
  width: 1.12rem;
  height: 1.12rem;
  margin-right: 0.33333333rem;
  float: left;
}
.page-main .page-chat .chat-wrapper .chat-list .chat-item .chat-section {
  display: none;
  width: auto;
  max-width: 6.53333333rem;
  height: auto;
  padding: 0.29333333rem 0.24rem;
  background: #fff;
  border: 0.01333333rem solid #c4c4c4;
  border-radius: 0.10666667rem;
  font-size: 0.42666667rem;
  position: relative;
  line-height: 0.57333333rem;
  color: #000;
}
.page-main .page-chat .chat-wrapper .chat-list .chat-item .chat-section .chat-angle2 {
  border-color: transparent #c4c4c4 transparent transparent;
  border-style: solid;
  border-width: 0.13333333rem;
  height: 0;
  width: 0;
  position: absolute;
  top: 0.46666667rem;
}
.page-main .page-chat .chat-wrapper .chat-list .chat-item .chat-section .chat-angle {
  border-color: transparent #fff transparent transparent;
  border-style: solid;
  border-width: 0.13333333rem;
  height: 0;
  width: 0;
  position: absolute;
  top: 0.46666667rem;
}
.page-main .page-chat .chat-wrapper .chat-list .target-author .head-img {
  float: left;
  margin-left: 0;
  margin-right: 0.26666667rem;
}
.page-main .page-chat .chat-wrapper .chat-list .target-author .chat-section {
  float: left;
}
.page-main .page-chat .chat-wrapper .chat-list .target-author .chat-section .chat-angle2 {
  left: -0.25333333rem;
}
.page-main .page-chat .chat-wrapper .chat-list .target-author .chat-section .chat-angle {
  left: -0.22666667rem;
}
.page-main .page-chat .chat-wrapper .chat-list .self-author .head-img {
  float: right;
  margin-right: 0;
  margin-left: 0.26666667rem;
}
.page-main .page-chat .chat-wrapper .chat-list .self-author .chat-section {
  float: right;
  background: #b2e866;
  border-color: #80af3d;
}
.page-main .page-chat .chat-wrapper .chat-list .self-author .chat-section .chat-angle2 {
  border-color: transparent transparent transparent #80af3d;
  top: 0.46666667rem;
  right: -0.25333333rem;
}
.page-main .page-chat .chat-wrapper .chat-list .self-author .chat-section .chat-angle {
  border-color: transparent transparent transparent #b2e866;
  top: 0.46666667rem;
  right: -0.24rem;
}
.page-main .page-chat .chat-wrapper .chat-list .chat-time {
  width: 1.2rem;
  height: 0.56rem;
  line-height: 0.56rem;
  color: #fff;
  font-size: 0.29333333rem;
  text-align: center;
  margin: 0 auto;
  background: #d4d4d4;
  border-radius: 0.05333333rem;
  margin-bottom: 0.33333333rem;
}
.page-main .bottom-input {
  height: 1.34666667rem;
  background: url("../../images/marry/chat_10.png") center no-repeat;
  background-size: 100% auto;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.page-main .bottom-input .show-input {
  width: 5.86666667rem;
  height: 0.85333333rem;
  line-height: 0.77333333rem;
  position: absolute;
  left: 1.53333333rem;
  top: 0.22666667rem;
  font-size: 0.42666667rem;
  overflow-y: hidden;
  overflow-x: auto;
}
.page-main .bottom-input .show-input .input-scroll-text {
  width: auto;
  height: 100%;
  word-break: keep-all;
  white-space: nowrap;
}
.page-main .bottom-input .send-message {
  display: block;
  width: 140px;
  float: right;
  height: 100%;
}
.page-main .bottom-input .type-pointer {
  color: #3600ff;
  background: url("../../images/marry/line_28.png") no-repeat center;
  background-size: auto 100%;
  padding: 0 4px;
  position: relative;
  left: -5px;
}
.page-main .bottom-input .btn-advioce {
  width: 2.53333333rem;
  height: 1.73333333rem;
  position: absolute;
  right: -0.4rem;
  top: -0.46666667rem;
  background: url("../../images/marry/sendbtn.gif");
  background-size: 100% auto;
  display: none;
}
.page-main .last-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("../../images/marry/hallow.png") center no-repeat;
  background-size: 100% auto;
  z-index: 99;
  display: none;
}
.first-page {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../../images/marry/fbg.jpg") center no-repeat;
  background-size: 100% auto;
  z-index: 11;
}
.first-page .first-time {
  height: 2.26666667rem;
  font-size: 2.26666667rem;
  text-align: center;
  color: #fff;
  margin-top: 1.44rem;
  font-family: "helve";
}
.first-page .first-dw {
  height: 1rem;
  line-height: 1rem;
  text-align: center;
  color: #fff;
  font-size: 0.4rem;
  margin-bottom: 1rem;
}
.first-page .first-footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}
.first-page .first-unlock {
  position: absolute;
  width: 3.2rem;
  height: 0.66666667rem;
  left: 50%;
  margin-left: -1.6rem;
  bottom: 10%;
}
.last-page {
  background: #111b36 url("../../images/marry/lastbg.jpg") top no-repeat;
  background-size: 100% auto;
  background-position: center -0.93333333rem;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.last-page .last-person {
  width: 4.10666667rem;
  height: 3.06666667rem;
  position: absolute;
  left: 50%;
  margin-left: -2.05333333rem;
  top: 3%;
}
.last-page .last-page-bottom {
  position: absolute;
  bottom: 10%;
  width: 80%;
  height: 6.02666667rem;
  left: 10%;
  z-index: 1;
}
.last-page .last-title {
  position: absolute;
  top: 50%;
  margin-top: -5.33333333rem;
  display: none;
}
.last-page .last-text {
  position: absolute;
  width: 80%;
  top: 15%;
  left: 10%;
  color: #fff;
  line-height: 2;
}
.last-page .last-text h5 {
  text-align: center;
  font-size: 0.53333333rem;
  margin-bottom: 0.66666667rem;
}
.last-page .last-text .show-text {
  font-size: 0.42666667rem;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
}
.last-page .last-text .show-text em {
  display: block;
  font-style: normal;
}
.last-page .last-text .show-text span {
  display: block;
}
.last-page .last-text .show-text strong {
  display: blcok;
}
.last-page .last-scene {
  height: 100%;
}
