.page-ring {
  display: none;
  background-image: url("../../images/marry/fbg.jpg");
  background-position: center;
  background-size: 100% auto;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
}
.page-ring .phone-call {
  display: block;
}
.page-ring .phone-call .ring-head {
  width: 2.32rem;
  height: 2.32rem;
  border-top-left-radius: 1.16rem;
  /* 左上角 */
  border-top-right-radius: 1.16rem;
  /* 右上角 */
  border-bottom-right-radius: 1.16rem;
  /* 右下角 */
  border-bottom-left-radius: 1.16rem;
  /* 左下角 */
  border-radius: 1.16rem;
  position: absolute;
  z-index: 5;
  left: 50%;
  top: 10%;
  margin-left: -1.16rem;
  overflow: hidden;
  background: url("../../images/marry/head1.png");
  background-size: 100% auto;
  display: block;
}
.page-ring .phone-call .ring-name {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 0.61333333rem;
  height: 0.61333333rem;
  position: absolute;
  left: 0;
  top: 32%;
}
.page-ring .phone-call .ring-sname {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 0.29333333rem;
  height: 0.29333333rem;
  position: absolute;
  left: 0;
  top: 37%;
}
.page-ring .phone-call .ring-icon1 {
  width: 5.44rem;
  height: 1.26666667rem;
  position: absolute;
  left: 50%;
  margin-left: -2.72rem;
  bottom: 35%;
}
.page-ring .phone-call .ring-btns {
  width: 6.33333333rem;
  height: 1.76rem;
  position: absolute;
  left: 50%;
  margin-left: -3.06666667rem;
  bottom: 20%;
}
.page-ring .phone-call .ring-btns .ring-btn {
  width: 1.76rem;
  height: 1.76rem;
  background: url("../../images/marry/ring_07.png") no-repeat;
  background-size: auto 100%;
  display: block;
}
.page-ring .phone-call .ring-btns .btn-cancel {
  float: left;
  background-position: left;
}
.page-ring .phone-call .ring-btns .btn-get {
  float: right;
  margin-right: 0.01333333rem;
  background-position: right;
  position: relative;
  z-index: 2;
}
.page-ring .phone-call .ring-btns .anim-ringbtn {
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -1.02666667rem;
  margin-left: 1.25333333rem;
  border-radius: 1.06666667rem;
  border: 0.04rem solid #4cd964;
  z-index: 1;
}
.page-ring .phone-call .ring-btns .anim-delay1 {
  width: 2.05333333rem;
  height: 2.05333333rem;
  border-radius: 1.09333333rem;
  margin-top: -1.05333333rem;
  margin-left: 1.22666667rem;
}
.page-ring .phone-pick {
  display: none;
}
.page-ring .phone-pick .phone-title {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 0.64rem;
  height: 1.14666667rem;
  position: absolute;
  left: 0;
  top: 12%;
}
.page-ring .phone-pick .phone-count {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 0.4rem;
  height: 0.4rem;
  position: absolute;
  left: 0;
  top: 20%;
}
.page-ring .phone-pick .phone-icon {
  width: 6.82666667rem;
  height: 5.17333333rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -3.41333333rem;
  margin-top: -3.33333333rem;
}
.page-ring .phone-pick .phone-btn {
  width: 1.76rem;
  height: 1.76rem;
  background: url("../../images/marry/ring_07.png") no-repeat left;
  background-size: auto 100%;
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -0.88rem;
  bottom: 15%;
}
